**
!backend/
!backend/**
!policies/
!policies/**
!schemas/
!schemas/behavior/
!schemas/behavior/v1/
!schemas/behavior/v1/envelope.schema.json
!sdk/
!sdk/rust/
!sdk/rust/**
!console/
!console/**
!LICENSE
!NOTICE
backend/target
backend/**/target
backend/testdata
sdk/rust/target
console/dist
console/node_modules
